:root {
    --cor-fundo: #1e1e1e;
    --cor-letra: #ffffff;

    --cor-header: #242424;
    --cor-header-texto: #c9c9c9;

    --cor-main: #545454;
    --cor-main-texto: #ffffff;

    --cor-footer: #242424;
    --cor-footer-texto: #c9c9c9;
}